services:
  celestia-validator-astar:
    image: ghcr.io/celestiaorg/celestia-app:v6.4.4-mocha
    container_name: celestia-validator-astar
    volumes:
      - ./consensus/celestia-validator:/home/celestia/.celestia-app
    ports:
      - "9190:9090"
      - "26756:26656"
      - "26757:26657"
      - "26660:26660"
    command:
      - "start"
      - "--force-no-bbr"
      - "--rpc.laddr=tcp://0.0.0.0:26657"
      # - "--minimum-gas-prices=0utia"
      - "--grpc.enable"
      - "--grpc.address=0.0.0.0:9090"
    networks:
      - celestia-network

  celestia-validator-astar2:
    image: ghcr.io/celestiaorg/celestia-app:v6.4.4-mocha
    container_name: celestia-validator-astar2
    volumes:
      - ./consensus/celestia-validator2:/home/celestia/.celestia-app
    ports:
      - "29090:9090"
      - "26666:26656"
      - "26667:26657"
      - "26661:26660"
    command:
      - "start"
      - "--force-no-bbr"
      - "--rpc.laddr=tcp://0.0.0.0:26657"
      # - "--minimum-gas-prices=0utia"
      - "--grpc.enable"
      - "--grpc.address=0.0.0.0:9090"
    networks:
      - celestia-network

  celestia-validator-astar3:
    image: ghcr.io/celestiaorg/celestia-app:v6.4.4-mocha
    container_name: celestia-validator-astar3
    volumes:
      - ./consensus/celestia-validator3:/home/celestia/.celestia-app
    ports:
      - "39090:9090"
      - "36666:26656"
      - "36667:26657"
      - "36661:26660"
    command:
      - "start"
      - "--force-no-bbr"
      - "--rpc.laddr=tcp://0.0.0.0:26657"
      # - "--minimum-gas-prices=0utia"
      - "--grpc.enable"
      - "--grpc.address=0.0.0.0:9090"
    networks:
      - celestia-network

networks:
  celestia-network:
    name: celestia-shared
    driver: bridge
